.container {
    height: 100vh;

    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;

    // @media screen and (max-width: 576px) {
    //     flex-direction: column;
    // }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;

    border-right: 1px solid black;
}

.sidebar {
    width: 400px;
    height: 100%;

    background-color: black;
    color: white;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.product__card {
    width: 230px;
    height: 300px;
    margin: 15px 10px 0 10px;
    padding: 10px 0;
    border: 2.5px solid gray;
    border-radius: 10%;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.product__card-image {
    height: 200px;
    border-radius: 15%;

    transition: all 0.3s ease-in-out;
    transform: scale(1);
    --webkit-transform: scale(1);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        --webkit-transform: scale(1.05);
    }
}

.product__card-text {
    margin-top: 10px;
    border-top: 2.5px solid gray;

    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}